body {
    font-size : 16px;
    background-color : #eee;
}

.main-logo-container {
    padding : 15px 0;
    background-color : #fff;
}

.main-logo {
    height : 39px;
}

.page-content {
    margin-top : 2em;
    padding : 1.5em;
    background-color : #fff;

    > h3 {
        margin-top : 0;
        margin-bottom : .8em;
        padding-bottom : .8em;
        font-weight : normal;
        border-bottom : 1px solid #ccc;
    }
}

.form-container {

    h3 {
        font-size : 2rem;
    }

    .field-list {
        padding : 0;
        list-style-type : none;

        .title {
            display : block;
            margin-top : 1.5em;
            font-weight : normal;
        }

        .link {
            display : inline-block;
            margin-top : .5em;
        }

        + h3 {
            margin-top : 2em;
        }

        input[type=text] {
            padding : .6rem;
            width : 30rem;
        }

        .field-item {
            margin-bottom : 10px;

            & *:checked + .field-item-label {
                background-color: #fff;
                border-color: #222;
                border-width: 1px;
            }

            .field-item-radio,
            .field-item-checkbox {
                background: #eee none repeat scroll 0 0;
                cursor: pointer;
                display: inline-block;
                float: left;
                font-size: 1rem;
                margin: 1.6rem .5rem 1.6rem 1.4rem;
                position: relative;
                transition: background 300ms ease 0s;
                vertical-align: middle;
                width: 20px;
            }

            .field-item-label {
                display : block;
                background: #eee none repeat scroll 0 0;
                border: 1px solid #fff;
                padding: 1rem;
                font-weight : normal;

                &:hover {
                    cursor : pointer;
                    border : 1px solid #222;
                }
            }
        }
    }

    .actions {
        margin-top : 1.5em;
    }
}

.survey-list {

    > h4 {
        color : #3b7a9e;
    }

    + .survey-list {
        margin-top : 2em;
    }

    table.survey-list-table {
        width : 100%;
        border : 1px solid #eee;

        th, td {
            padding : .5em;
        }

        td {
            border : 1px solid #eee;
        }

        td:last-child {
            width : 20px;
        }

        > thead {
            background-color : #eee;
        }
    }
}

.details-list {
    padding : 0;
    list-style-type : none;

    > li {
        margin-bottom : 1em;
    }
}

.footer {
    padding : 1.5em;
    font-size : 14px;
}