body {
    font-size : 16px;
    background-color : #eee;
}

.main-logo-container {
    padding : 15px 0;
    background-color : #fff;

    .main-logo-wrap {
        float : left;
        display : inline-block;
        width : 40px;
        overflow : hidden;
    }

    .main-logo {
        height : 39px;
    }

    .logo-title {
        display : inline-block;
        margin-left : 5px;
        padding : 8px 0;
        vertical-align : top;
        font-weight : normal;
    }


}

.ribbon {
    display : block;
    padding : .3em;
    text-align : center;
    font-weight : 500;
    letter-spacing : 0.04em;
    color : #fff;
    background-color : #a8233e;
    border-bottom : 3px solid #b2bb1c;
}

.page-content {
    margin-top : 2em;
    padding : 1.5em;
    background-color : #fff;

    > h3 {
        margin-top : 0;
        margin-bottom : .8em;
        padding-bottom : .8em;
        font-weight : normal;
        border-bottom : 1px solid #ccc;
    }
}

.form-container {

    h3 {
        font-size : 2rem;
    }

    .field-list {
        padding : 0;
        list-style-type : none;

        .title {
            display : block;
            margin-top : 1.5em;
            font-weight : normal;
        }

        .link {
            display : inline-block;
            margin-top : .5em;
        }

        + h3 {
            margin-top : 2em;
        }

        input[type=text] {
            padding : .6rem;
            width : 30rem;
            border : 1px solid #ccc;
        }

        .field-item {
            margin-bottom : 15px;

            & *:checked + .field-item-label {
                background-color: #fff;
                border-color: #222;
                border-width: 1px;
            }

            .field-item-radio,
            .field-item-checkbox {
                background: #eee none repeat scroll 0 0;
                cursor: pointer;
                display: inline-block;
                float: left;
                font-size: 1rem;
                margin: 1.6rem .5rem 1.6rem 1.4rem;
                position: relative;
                transition: background 300ms ease 0s;
                vertical-align: middle;
                width: 20px;
            }

            .field-item-label {
                display : block;
                background: #eee none repeat scroll 0 0;
                border: 1px solid #fff;
                padding: 1rem;
                font-weight : normal;

                &:hover {
                    cursor : pointer;
                    border : 1px solid #222;
                }
            }
        }
    }

    .actions {
        margin-top : 1.5em;
    }
}

.survey-list {

    .nav-tabs {
        margin-bottom : 20px;

        > li {
            > a {
                border : 1px solid #ddd;
            }

            &.active > a,
            &.active > a:hover {
                border-bottom-color : transparent;
            }
        }
    }

    > h4 {
        color : #3b7a9e;
    }

    + .survey-list {
        margin-top : 2em;
    }

    table.survey-list-table {
        width : 100%;
        border : 1px solid #eee;
        border-left : none;
        border-right : none;

        th, td {
            padding : .5em;
            color : #111;
        }

        th {
            font-weight : 500;
        }

        td {
            border : 1px solid #eee;
            border-left : none;
            border-right : none;
        }

        tr:hover,
        tr.inactive:hover {

            td {
                background-color : #eee;
            }
        }

        td:last-child {
            width : 20px;
        }

        > thead {
            background-color : #eee;
        }

        tr.inactive {
            > td {
                color : #666;
                background-color : #f7f7f7;
            }

            /*.btn-primary {
                background-color : #999;
                border : 1px solid #999;
            }*/
        }
    }

    /**
     * Interactive survey list
     */
    &.survey-list-interactive {

        .survey-list-interactive-head {
            /*padding-left : 38px;
            padding-right : 38px;*/
            padding-left : 15px;
            padding-right : 15px;

            .survey-list-interactive-head-line {
                border : 1px solid #d0d0d0;
                background-color: #eee;

                .title {
                    display : inline-block;
                    font-weight : 500;
                    padding : .5em 0;
                }
            }
        }

        .survey-header {
            padding : 10px 15px;
            border-bottom: 1px solid #ddd;

            &:after {
                visibility: hidden;
                display: block;
                font-size: 0;
                content: " ";
                clear: both;
                height: 0;
            }

            span {
                line-height : 3rem;
            }

            input[type=text] {
                right : 6px;
                box-shadow : none !important;
                border : 1px solid #ccc !important;
            }

            .survey-actions {
                float : right;
                max-width : 300px;

                input[type=text] {
                    padding : 2px;
                }

                .input-group-btn > .btn {
                    box-shadow : none;
                }
            }
        }

        .survey-actions {
            float : right;
            max-width : 300px;

            &:after {
                visibility: hidden;
                display: block;
                font-size: 0;
                content: " ";
                clear: both;
                height: 0;
            }
        }

        .survey-list-interactive-body {
            margin : 0;

            > li {
                box-shadow : 0 2px 5px 0 rgba(0,0,0,0.12), 0 2px 10px 0 rgba(0,0,0,0.12);

                &.survey-inactive {
                    color : #666;
                    background-color : #f7f7f7;

                    label {
                        color : #666;
                    }

                    p {
                        font-size : 14px;
                    }
                }
            }
        }

        .survey-list-interactive-body.popout {
            margin-left : -24px;
            margin-right : -24px;
        }

        .collapsible-body {
            padding : 20px;
            background-color : #fff;

            > .row {
                margin-bottom : 1em;
            }

            > p {
                padding-left : 0;
                padding-right : 0;
            }
        }

        .row {
            margin-bottom : 0;
        }

        .survey-details {

            > li {
                margin-bottom : 1em;
            }
        }
    }
}

.survey-list-actions {
    margin-top : 20px;
}


.respondant-settings {
    float : right;

    .dropdown-menu {
        right : 0;
        left : auto;
    }

    .help {
        display : block;
        margin-top : 8px;
    }
}

.details-list {
    padding : 0;
    list-style-type : none;

    > li {
        margin-bottom : 1em;
    }
}

.footer {
    padding : 1.5em;
    font-size : 14px;
}



/**
 * Materialize overrides
 */
label {
    height : auto;
    line-height : 3rem;
    font-weight : normal;
    color : #111;
    font-size : 16px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    font-size : 16px;
}

input[type=text],
input[type=text] {
    box-shadow : none !important;
    border-bottom : 1px solid #ccc !important;
}

.btn,
.btn-large,
.btn-flat {
    text-transform: none;
}

.container .row {
    margin-left : -15px;
    margin-right : -15px;
}

.collapsible-header {
    padding-left : 15px;
    padding-right : 15px;
}
/**
 * End Materialize overrides
 */



/**
 * Page specific
 */
.account {

    .actions {
        margin-top : 20px;
    }

    .accout-settings-field {
        margin-top : 15px;
        margin-bottom : 15px;

        .change {
            margin-left : 20px;
        }
    }
}

.my-surveys {
    .page-content {
        background : none;

        > h3 {
            padding-bottom : 0;
            border-bottom : none;
        }
    }
}
/**
 * End page specific
 */
