<div class="main-logo-container">
    <div class="container">
        <a href="/" class="main-logo-wrap">
            <img class="main-logo" src="https://www.ons.gov.uk//assets/img/ons-logo.svg" alt="Office for National Statistics">
        </a>

        <a href="/" class="logo-title">ONS Surveys</a>

        <div class="respondant-settings">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Charlotte Taylor <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Help</a></li>
                    <li><a href="account.html">Account Settings</a></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>