<div class="main-logo-container">
    <div class="container">
        <a href="/" class="main-logo-wrap">
            <img class="main-logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo.svg" alt="Office for National Statistics">
        </a>

        <a href="/" class="logo-title">ONS Surveys</a>

        <div class="respondant-settings">
            <a class="help" href="#">Help</a>
        </div>
    </div>
</div>
