{{> partials/page-header}}

<div class="survey-list survey-list-interactive">

    <ul class="collapsible popout survey-list-interactive-body" id="survey-list-interactive" data-collapsible="accordion"></ul>

</div>
