<li class="collapsible popout survey-list-interactive-body message-item">
    <div class="card collapsible-header">
        <div class="card-content message-header">
            <small class="short-line">Message received: 01 Jan 2016</small>

            <p><strong class="card-title"><em><i class="material-icons">message</i></em> {{@value.subject}}</strong></p>
        </div>
    </div>
    <div class="card collapsible-body">
        <div class="card-content">
            {{{@value.message}}}
        </div>
    </div>

</li>
