{{#surveys}}
    <tr>
        <td>{{ reporting_unit_name }}</td>
        <td>{{ reporting_unit }}</td>
        <td>{{ name }}</td>
        <td>{{ period }}</td>
        <td>STATUS</td>
        <td>RETURN BY</td>
    </tr>
{{/surveys}}