<li class="collapsible popout survey-item survey-list-interactive-body">

    <div class="card collapsible-header">
        <div class="card-content survey-header">
            <small class="short-line">Survey due by: {{@value.return_by}} (15 days left)</small>

            <div class="row">
                <div class="col-sm-7">
                    <strong class="card-title"><em><i class="material-icons">assessment</i> </em> {{@value.name}}</strong>
                </div>
                <div class="col-sm-3">
                    <span>{{@value.status}}</span>
                </div>
                <div class="col-sm-2">
                    <a target="_blank" href="{{@value.survey_link}}" class="btn btn-primary right">{{@value.primaryAction}}</a>
                </div>
            </div>

            <p class="reporting-unit">{{@value.reporting_unit}}</p>
        </div>
    </div>
    <div class="card collapsible-body">

        <div class="card-content">
            {{{@value.survey_details}}}
        </div>

    </div>

</li>
