<div class="survey-list">

    <ul class="nav nav-tabs">
        <li role="presentation">
            <a href="/my-surveys.html">
                To do
            </a>
        </li>
        <li class="active" role="presentation">
            <a href="#">
                History
            </a>
        </li>
    </ul>

    <h5>Penn Pharmaceuticals{{!reporting_unit_name}} [Reference no. 243957812{{!reporting_unit}}]</h5>
    <table class="survey-list-table">
        <thead>
        <tr>
            <th>Survey</th>
            <!--<th></th>-->
            <th>Period</th>
            <th>Status</th>
            <th>Date submitted</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{> partials/survey-history-list-rows}}
        </tbody>
    </table>
</div>
