{{#surveys}}
    <tr>
        <td>{{name}}</td>
        <td><a class="btn btn-default" href="#">Info</a></td>
        <td>{{period}}</td>
        <td>{{status}}</td>
        <td>{{return_by}}</td>
        <td><a target="_blank" href="{{survey_link}}" class="btn btn-primary">{{primaryAction}}</a></td>
    </tr>
{{/surveys}}
