{{> partials/page-header}}

<div class="survey-list survey-list-interactive">

    <!--<h5>Office for National Statistics (ONS){{!reporting_unit_name}} [Reference no. 243957812{{!reporting_unit}}]</h5>
    <div class="survey-list-interactive-head">
        <div class="row survey-list-interactive-head-line">
            <div class="col-sm-3">
                <span class="title">Survey</span>
            </div>
            <div class="col-sm-2">
                <span class="title">Period</span>
            </div>
            <div class="col-sm-2">
                <span class="title">Status</span>
            </div>
            <div class="col-sm-2">
                <span class="title">Return by</span>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>-->

    <ul class="survey-list-interactive-body">
        <li class="survey-item survey-inactive">
            <div class="card">
                <div class="card-content survey-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong class="card-title">Annual Survey Hours and Earnings - 2016</strong>
                        </div>
                        <div class="col-sm-3">
                            <span>Return by: 31 Dec 2016</span>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>

                    <p class="survey-status">Waiting for activation</p>

                    <p>Data on levels, distribution and make-up of earnings and hours worked for UK employees by sex and full-time or part-time status in all industries and occupations.</p>

                    <p class="reporting-unit"><strong>Office for National Statistics (ONS)</strong> [Reference no. 243957812]</p>
                </div>
                <div class="card-action survey-actions">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e.g. M32FFE3BG">
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="button">Activate</button>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="collapsible popout survey-list-interactive-body" data-collapsible="expandable">
        <li class="survey-item">
            <div class="card collapsible-header">
                <div class="card-content survey-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong class="card-title">Monthly Wages and Salaries Survey - October 2016</strong>
                        </div>
                        <div class="col-sm-3">
                            <span>Return by: 15 Dec 2016</span>
                        </div>
                        <div class="col-sm-3">
                            <a target="_blank" href="/monthly-wages-salaries/index.htm" class="btn btn-primary right">Start survey</a>
                        </div>
                    </div>

                    <p>In progress</p>

                    <p class="reporting-unit"><strong>Office for National Statistics (ONS)</strong> [Reference no. 243957812]</p>
                </div>
            </div>
            <div class="collapsible-body">

                <h2>Monthly Wages and Salaries Survey</h2>
                <ul class="survey-details">
                    <li class="row">
                        <div class="col-sm-2">
                            PERIOD
                        </div>
                        <div class="col-sm-10">
                            October 2016
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-2">
                            BUSINESS
                        </div>
                        <div class="col-sm-10">
                            Bolts and Rachets Ltd<br />
                            23 Primrose Avenue<br />
                            Hiddingbridge<br />
                            Wessex<br />
                            WE11 2DO
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-2">
                            DUE BY
                        </div>
                        <div class="col-sm-10">
                            30 November 2016 (9 days left)
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-2">
                            STATUS
                        </div>
                        <div class="col-sm-10">
                            Not started
                        </div>
                    </li>
                </ul>

                <p>We will ask you to provide information for the business, including:</p>

                <ul>
                    <li>value of total retail turnover</li>
                    <li>value of internet sales</li>
                    <li>numbers of employees</li>
                    <li>reasons for changes to figures</li>
                </ul>

                <p>If actual figures aren't available, please provide informed estimates.</p>

                <a href="">Set reminder</a>

            </div>
        </li>
        <li class="survey-item">
            <div class="card collapsible-header">
                <div class="card-content survey-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong class="card-title">Monthly Wages and Salaries Survey - October 2016</strong>
                        </div>
                        <div class="col-sm-3">
                            <span>Return by: 15 Dec 2016</span>
                        </div>
                        <div class="col-sm-3">
                            <a target="_blank" href="/monthly-wages-salaries/index.htm" class="btn btn-primary right">Start survey</a>
                        </div>
                    </div>

                    <p>In progress</p>

                    <p class="reporting-unit"><strong>Office for National Statistics (ONS)</strong> [Reference no. 243957812]</p>
                </div>
            </div>
            <div class="collapsible-body">

                <h2>Monthly Wages and Salaries Survey</h2>
                <ul class="survey-details">
                    <li class="row">
                        <div class="col-sm-2">
                            PERIOD
                        </div>
                        <div class="col-sm-10">
                            October 2016
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-2">
                            BUSINESS
                        </div>
                        <div class="col-sm-10">
                            Bolts and Rachets Ltd<br />
                            23 Primrose Avenue<br />
                            Hiddingbridge<br />
                            Wessex<br />
                            WE11 2DO
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-2">
                            DUE BY
                        </div>
                        <div class="col-sm-10">
                            30 November 2016 (9 days left)
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-2">
                            STATUS
                        </div>
                        <div class="col-sm-10">
                            Not started
                        </div>
                    </li>
                </ul>

                <p>We will ask you to provide information for the business, including:</p>

                <ul>
                    <li>value of total retail turnover</li>
                    <li>value of internet sales</li>
                    <li>numbers of employees</li>
                    <li>reasons for changes to figures</li>
                </ul>

                <p>If actual figures aren't available, please provide informed estimates.</p>

                <a href="">Set reminder</a>

            </div>
        </li>
    </ul>
</div>
