<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ONS Surveys - Log in to your account</title><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="../../dist/site.min.css" type="text/css" rel="stylesheet" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>td { margin:20px; }</style>

</head>
<body>
    <div class="page">

        {{> partials/header}}

        <div class="container">

            <div class="page-content">

                <h1>{{ title }}</h1>
                <p>{{ body }}</p>
                <p><a href="./login">Log in</a></p>
            </div>

            {{> partials/footer}}

        </div>

    </div>
</body>
</html>
