<div class="footer">
    <p>This service is a beta version, which means it is a trial service. <a href="">Find out more.</a></p>
    <p><a href="">Terms of Use</a> <a href="">Privacy Policy</a> <a href="">Copyright</a></p>
    <p><a href="">Office for National Statistics Main Page</a> <a href="">National Statistics Publication Hub</a> <a href="">United Kingdom Statistics Authority</a></p>
</div>