<div class="main-logo-container">
    <div class="container">
        <a href="/mock-pages/dist/">
            <img class="main-logo" src="https://www.ons.gov.uk//assets/img/ons-logo.svg" alt="Office for National Statistics">
        </a>
    </div>
</div>