<!DOCTYPE html>
<html lang="en">
<head>
    {{> partials/head-misc}}
    {{> partials/head-dependencies}}

    <!-- My surveys -->
    <script>
        $(document).ready(function () {

            $('.survey-line-expanded-wrap').hide();

            $('.survey-rows').find('tr.survey-line').on('click', function() {

                var expandedTarget = '.survey-line-expanded',
                        expandedTargetWrap = '.survey-line-expanded-wrap',
                        nextExpanded = $(this).next(expandedTarget),
                        speed = 300;

                $(this).siblings(expandedTarget).not(nextExpanded).find(expandedTargetWrap).slideUp(speed);

                nextExpanded.find(expandedTargetWrap).slideToggle(speed);

            });
        });
    </script>

    <script>
        var partialsRegister = {};

        function getPartial (loc, callback) {

        	if (partialsRegister[loc]) {
        		callback(partialsRegister[loc]);
        		return partialsRegister[loc];
            }

            return $.get(loc, function (template) {
                partialsRegister[loc] = template;

                if (callback) {
                    callback(template);
                }
            });
        }

        (function () {

            var surveysListDefault = [
                {
                    "@metadata": {
                    	"id": "manual_1",
                        "type": "surveyInactive",
                        "template": "/partials/survey-inactive-item.mustache",
                        "inactive": "true"
                    },
                    "@value": {

                        /**
                         * Survey
                         */
                        "name": "Annual Survey Hours and Earnings",
                        "short_desc": "Data on levels, distribution and make-up of earnings and hours worked for UK employees by sex and full-time or part-time status in all industries and occupations.",
                        "reporting_unit": "Penn Pharmaceuticals",
                        "reporting_unit_ref": "243957812",
                        "period": "2016",
                        "return_by": "31 Dec 2016",
                        "status": "Waiting for activation",
                        "survey_link": "/blank/index.html",
                        "primaryAction": "Use code to activate"
                    }
                },
                {
                    "@metadata": {
                        "id": "manual_2",
                        "type": "survey",
                        "template": "/partials/survey-item.mustache",
                    },
                    "@value": {

                        /**
                         * Survey
                         */
                        "name": "Monthly Wages and Salaries Survey",
                        "survey_details": '<h2>Monthly Wages and Salaries Survey</h2>' +
                            '<ul class="survey-details">' +
                                '<li class="row">' +
                                    '<div class="col-sm-2">' +
                                        'PERIOD' +
                                    '</div>' +
                                    '<div class="col-sm-10">' +
                                        'October 2016' +
                                    '</div>' +
                                '</li>' +
                                '<li class="row">' +
                                    '<div class="col-sm-2">' +
                                        'BUSINESS' +
                                    '</div>' +
                                    '<div class="col-sm-10">' +
                                        'Bolts and Rachets Ltd<br />23 Primrose Avenue<br />Hiddingbridge<br />Wessex<br />WE11 2DO' +
                                    '</div>' +
                                '</li>' +
                                    '<li class="row">' +
                                    '<div class="col-sm-2">' +
                                        'DUE BY' +
                                    '</div>' +
                                    '<div class="col-sm-10">' +
                                        '30 November 2016 (9 days left)' +
                                    '</div>' +
                                '</li>' +
                                '<li class="row">' +
                                    '<div class="col-sm-2">' +
                                        'STATUS' +
                                    '</div>' +
                                    '<div class="col-sm-10">' +
                                        'Not started' +
                                    '</div>' +
                                '</li>' +
                            '</ul>' +

                            '<p>We will ask you to provide information for the business, including:</p>' +

                            '<ul>' +
                                '<li>value of total retail turnover</li>' +
                                '<li>value of internet sales</li>' +
                                '<li>numbers of employees</li>' +
                                '<li>reasons for changes to figures</li>' +
                            '</ul>' +

                            "<p>If actual figures are not available, please provide informed estimates.</p>" +
                            '<a href="">Set reminder</a>',

                        "reporting_unit": "Penn Pharmaceuticals",
                        "reporting_unit_ref": "243957812",
                        "period": "October 2016",
                        "return_by": "15 Dec 2016",
                        "status": "Not Started",
                        "survey_link": "/monthly-wages-salaries/index.htm",
                        "primaryAction": "Start survey"
                    }
                },
                {
                    "@metadata": {
                        "id": "manual_3",
                        "type": "message",
                        "template": "/partials/message-item.mustache",
                    },
                    "@value": {

                        /**
                         * Message
                         */
                        "subject": "You have a message regarding your Monthly Wages and Salaries Survey",
                        "message": "<h2>Refinements needed for your monthly wages...</h2><p>We have questions regarding your monthly wage figures. Please can you take some time to review our comments below.</p><p>Message details...</p>"
                    }
                },
                {
                    "@metadata": {
                        "id": "manual_4",
                        "type": "survey",
                        "template": "/partials/survey-item.mustache",
                    },
                    "@value": {

                        /**
                         * Survey
                         */
                        "name": "Monthly Wages and Salaries Survey",
                        "survey_details": '<h2>Monthly Wages and Salaries Survey</h2>' +
                            '<ul class="survey-details">' +
                            '<li class="row">' +
                            '<div class="col-sm-2">' +
                            'PERIOD' +
                            '</div>' +
                            '<div class="col-sm-10">' +
                            'October 2016' +
                            '</div>' +
                            '</li>' +
                            '<li class="row">' +
                            '<div class="col-sm-2">' +
                            'BUSINESS' +
                            '</div>' +
                            '<div class="col-sm-10">' +
                            'Bolts and Rachets Ltd<br />23 Primrose Avenue<br />Hiddingbridge<br />Wessex<br />WE11 2DO' +
                            '</div>' +
                            '</li>' +
                            '<li class="row">' +
                            '<div class="col-sm-2">' +
                            'DUE BY' +
                            '</div>' +
                            '<div class="col-sm-10">' +
                            '30 November 2016 (9 days left)' +
                            '</div>' +
                            '</li>' +
                            '<li class="row">' +
                            '<div class="col-sm-2">' +
                            'STATUS' +
                            '</div>' +
                            '<div class="col-sm-10">' +
                            'Not started' +
                            '</div>' +
                            '</li>' +
                            '</ul>' +

                            '<p>We will ask you to provide information for the business, including:</p>' +

                            '<ul>' +
                            '<li>value of total retail turnover</li>' +
                            '<li>value of internet sales</li>' +
                            '<li>numbers of employees</li>' +
                            '<li>reasons for changes to figures</li>' +
                            '</ul>' +

                            "<p>If actual figures are not available, please provide informed estimates.</p>" +
                            '<a href="">Set reminder</a>',

                        "reporting_unit": "Penn Pharmaceuticals",
                        "reporting_unit_ref": "243957812",
                        "period": "October 2016",
                        "return_by": "15 Dec 2016",
                        "status": "In progress",
                        "survey_link": "/monthly-wages-salaries/index.htm",
                        "primaryAction": "Continue survey"
                    }
                }
            ],
            surveysList;

            if (!window.localStorage.getItem('surveys')) {
                window.localStorage.setItem('surveys', JSON.stringify(surveysListDefault));
            }

            surveysList = JSON.parse(window.localStorage.getItem('surveys'));

            $.when(
            	getPartial("/partials/survey-inactive-item.mustache"),
                getPartial("/partials/survey-item.mustache"),
                getPartial("/partials/message-item.mustache")
            ).done(function () {

                var html = '';

                function initSurveyList () {

                    /**
                     * Render HTML from templates and custome localStorage data
                     */
                    $('#survey-list-interactive').html(html);
                    $('.collapsible').collapsible();
                }

                surveysList.forEach(function (item) {

                    if (!item['@metadata'].template || item['@metadata'].template === '') {
                        console.log('No template partial found for ', item);
                        return;
                    }

                    getPartial(item['@metadata'].template, function (template) {
                        html += Mustache.render(template, item);
                    });
                });

                initSurveyList();
            });
        }());
    </script>
</head>
<body>
    {{#pageClass}}
    <div class="page {{pageClass}}">
    {{/pageClass}}
    {{^pageClass}}
    <div class="page">
    {{/pageClass}}

        {{#userPrototype}}
            {{> partials/prototype-ribbon}}
        {{/userPrototype}}

        {{#user}}
            {{> partials/header-sim}}
        {{/user}}
        {{^user}}
            {{> partials/header-non-sim}}
        {{/user}}

        <div class="container">

            <div class="page-content">

                <!-- Content -->
                {{> content}}
                <!-- End Content -->

            </div>

            {{> partials/footer}}

            {{#checkEmail}}
            <div class="footer">
                <p><a href="email.html">Check email</a></p>
            </div>
            {{/checkEmail}}

        </div>

    </div>
</body>
</html>
