<!DOCTYPE html>
<html lang="en">
<head>
    {{> partials/head-misc}}
    {{> partials/head-dependencies}}
</head>
<body>
    {{#pageClass}}
    <div class="page {{pageClass}}">
    {{/pageClass}}
    {{^pageClass}}
    <div class="page">
    {{/pageClass}}

        {{#userPrototype}}
            {{> partials/prototype-ribbon}}
        {{/userPrototype}}

        {{#user}}
            {{> partials/header-sim}}
        {{/user}}
        {{^user}}
            {{> partials/header-non-sim}}
        {{/user}}

        <div class="container">

            <div class="page-content">

                {{#pageHeader}}
                    {{> partials/page-header}}
                {{/pageHeader}}

                <!-- Content -->
                {{> content}}
                <!-- End Content -->

            </div>

            {{> partials/footer}}

            {{#checkEmail}}
            <div class="footer">
                <p><a href="email.html">Check email</a></p>
            </div>
            {{/checkEmail}}

        </div>

    </div>
</body>
</html>