<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ONS Surveys - Log in to your account</title><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="../../dist/site.min.css" type="text/css" rel="stylesheet" />
<link rel="icon" href="https://www.ons.gov.uk/favicon.ico" type="image/x-icon" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
<body>
    <div class="page">

        {{> partials/prototype-ribbon}}

        {{> partials/header}}

        <div class="container">

            <div class="page-content">

                <h3>Log in to your account</h3>

                <div class="form-container">
                    <form action="login" method="post">
                        {{#messages}}
                            <div style="color: red">{{ . }}</div>
                        {{/messages}}
                        <ul class="field-list">
                            <li>
                                <label class="title">Email address</label>
                                <input name="email_address" type="text" />
                            </li>
                            <li>
                                <label class="title">Password</label>
                                <input name="password" type="text" />
                            </li>
                            <li>
                                <a class="link" href="">Forgot password?</a>
                            </li>
                        </ul>
                        <div class="actions">
                            <input class="btn btn-primary" value="Log In" type="submit" />
                        </div>
                    </form>
                </div>

            </div>

            {{> partials/footer}}
        </div>

    </div>
</body>
</html>
