<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONS Surveys - Log in to your account</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"
          rel="stylesheet"/>
    <link href="../../dist/site.min.css" type="text/css" rel="stylesheet"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        th, td {
            margin: 20px;
            padding: 20px;
            align: left;
            font-weight: normal;
            font-size: 1.4em;
        }

        th {
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div class="page">

        <div class="main-logo-container">
            <div class="container">
                <a href="/mock-pages/dist/">
                    <img class="main-logo" src="https://www.ons.gov.uk//assets/img/ons-logo.svg"
                         alt="Office for National Statistics">
                </a>
                {{#user_name}}
                    <a href="/logout">Log out {{user_name}}</a>
                {{/user_name}}
            </div>
        </div>
        <div class="container">

            <div class="page-content">

                <h1>My surveys</h1>
                <table>
                    <tr>
                        <th>Reporting unit name</th>
                        <th>Reporting unit ref</th>
                        <th>Survey</th>
                        <th>Period</th>
                        <th>Status</th>
                        <th>Return By</th>
                    </tr>
                    {{#surveys}}
                        <tr>
                            <td>{{ reporting_unit_name }}</td>
                            <td>{{ reporting_unit }}</td>
                            <td>{{ name }}</td>
                            <td>{{ period }}</td>
                            <td>STATUS</td>
                            <td>RETURN BY</td>
                        </tr>
                    {{/surveys}}
                </table>

                <div class="footer">
                    <p>This service is a beta version, which means it is a trial service. <a href="">Find out more.</a></p>
                    <p><a href="">Terms of Use</a> <a href="">Privacy Policy</a> <a href="">Copyright</a></p>
                    <p><a href="">Office for National Statistics Main Page</a> <a href="">National Statistics Publication
                        Hub</a> <a href="">United Kingdom Statistics Authority</a></p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>
